*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-image: url(../image/temperatura.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;     
    color: #d10303;
    text-align:center;
  }	

  #container {
      position:absolute;
      width:500px;
      height:290px;
      text-align: center;
      background-color: rgb(233, 222, 216, 0.5);
      top: 50%;
      left:50%;
      transform:translate(-50%,-50%);
      border-radius:15px;
      padding:10px;
  }

  
    .calculator_value legend{
     font-size: 1.2rem;
     padding: 6px;
     color: rgb(54, 51, 51);
  }

  .calculator_value select{
    font-size: 1.1rem;
    text-align: center;
     color: rgb(54, 51, 51)
  }
 
  #input_value {
    font-size: 1.1rem;
    text-align: center;
     color: rgb(54, 51, 51);
  }
    
  button {
      padding: 8px 16px;
      margin-top: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      background-color: #250b0b; /* Cor padr達o do bot達o */
      color: #fff; /* Cor do texto do bot達o */
      transition: background-color 0.3s;

  }
  
  button:hover {
      background-color: rgb(43, 17, 17); /* Cor do bot達o ao passar o mouse */
  }
  
  .resultado-area {
    background: rgb(233, 222, 216, 0.5);
  
}

    #result{
        font-size: 1.8rem;
        color: #451211;
    }

  footer {
      background-image: linear-gradient(45deg, rgb(0, 149, 255), rgb(55, 177, 34));
      color: #ffffff;
      padding: 10px;
      text-align: center;
      border-radius: 10px; 
      overflow: hidden;
      margin-top: 89vh;	
  }
  
  a:visited {
      color: rgb(58, 23, 23);
  }
  
  .outer-container {
    background-image: linear-gradient(45deg, rgb(0, 149, 255), rgb(55, 177, 34));
      padding: 10px;
      border-radius: 10px;
      overflow: hidden;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.social-icons a {
    color: #e6dfdf;
    font-size: 20px;
    margin: 0 10px;
}

.social-icons a:hover {
    color: rgb(22, 36, 77) /* Ou a cor desejada para o hover */
}
  